@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: gainsboro;
}

.frame {
    background: white;
    border-radius: 15px;
    width: 100%;
    padding-bottom: 15px;
}

.header--cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background: #FFFFFF; */
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    height: 70px;
    border-radius: 15px 15px 0 0;
}

.header--cont img.airbnb {
    width: 82px;
    margin-left: 20px;
}

.splash-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}

.splash-box img.group {
    width: 100%;
    padding-top: 26px;
    margin: auto;
}

.splash-box h1 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
}

.carousel {
    width: 100%;
    display: block;
    overflow: auto;
    font-size: 12px;
}

.carousel ul {
    background: white;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
    padding: 10px;
}


.carousel ul::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .carousel ul {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }



.carousel ul li {
    position: relative;
    display: inline-block;
    width: 187px;
    margin: 0 10px;
    text-align: center;
}

.carousel ul li .label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    font-size: 10px;
    padding: 3px;
}

.carousel .img--cont img {
    width: 185px;
    height: 247px;
    border-radius: 10px;
}

.carousel ul li .pricing .price {
    font-weight: 600;
}

.carousel ul li .ratings--cont {
    white-space: normal;
    text-align: left;
}

.carousel ul li .ratings--cont img.star {
    width: 12px;
}