@tailwind components;
@tailwind pages;
@tailwind utilities;


:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
}

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  @apply max-w-7xl m-auto;
}

main.photos {
  @apply grid-cols-auto-fit-100 grid-cols-auto-fill-100 p-1 grid gap-1 grid-flow-row-dense auto-rows-100px;
}

main.cart-page {
  @apply p-1;
}

.cart-page > h1,
.cart-page > h3 {
  @apply text-center;
}

.cart-page .total-cost {
  @apply text-right text-base;
}

.cart-page div.order-button {
  @apply flex justify-center;
}

div.order-button > button {
  @apply border-[color:var(--black)] cursor-pointer transition-all duration-[0.2s] ease-[ease-in-out] p-[15px];
}

div.order-button > button:focus {
  outline: none;
}
div.order-button > button:disabled {
  @apply border-[lightgray];
}

.cart-item {
  @apply flex justify-between items-center mx-0 my-5;
} 

.cart-item img {
  @apply ml-2.5 mr-auto;
}

img.image-grid {
  @apply w-full h-full object-cover;
}


.image-container {
  @apply relative;
}


.favorite {
  @apply text-[color:var(--red)] text-[1.2rem] absolute cursor-pointer left-[5px] top-[5px];
}


.ri-heart-fill {
  opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  @apply bg-red-600 flex flex-row shadow-xl justify-between content-center items-center px-5 py-1 text-white shadow-sm;
}


a {
  @apply no-underline;
}

a:visited { @apply text-white; }
a:hover { @apply text-red-100; }
a:active { @apply text-cyan-200; }