* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 400px;
  background: #f5f5f5;
  border-radius: 5px;  
  flex-flow: column;
}

.App {
  display: flex;
justify-content: center;
}

.die-cont {
  display: grid;
  grid-template-columns: 38px 38px 38px 38px 38px;
  grid-auto-rows: 38px 38px; 
  grid-gap: 18px;
}

.die-cont__item,
.die-cont__item--held {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2B283A;
  font-size: 1.6rem;  
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.die-cont__item--held {
  background: #59e391;
}

.title {
  margin: 0;
}

.instructions {
  padding: 0 1.5rem;
  text-align: center;
  font-size: 0.95rem
}

.scores {
  margin-bottom: 1rem;
  text-align: center;
}

.scores thead tr td{
  padding: 0 0.5rem;
  font-weight: bold;
}

button.roll {
  background: #5035ff;
  border-radius: 4px;
  margin-top: 25px;
  color: white;
  padding: 7px 30px;
  display: block;
  border: none;
  font-size: 1rem;
}

button.roll:focus {
  outline: none;
}

button.roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}