* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  background: #f5f5f5;
  border-radius: 5px;  
}


.die-cont {
  display: inline-grid;
  grid-template-columns: 34px 34px 34px 34px 34px;
  grid-auto-rows: 34px 34px; 
  grid-gap: 18px;
}

.die-cont__item {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2B283A;
  font-size: 20pt;  
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px #2b283a);
}